// COLORS
$primary-color: #fd1d1d; // Refreshing light blue color
$secondary-color: #fcb045; // Clean white color for a fresh look
$white-color: #ffffff;
$dark-grey: #333333;
$light-grey: #f5f5f5;
$dark-blue-text: #003399; // Rich blue color for headings
// FONT SIZE
$default-font-size: 1.8rem; // Slightly larger default font size for better readability
$big-font-size: 4rem; // Increased big font size for emphasis
$mid-font-size: 3rem; // Increased mid font size for better visibility